<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1>How To</h1>
			<p>Welcome to Archana By Heart! This will help you find where you make mistakes while doing archana. </p>
			<p>How does it work? It's simple. When you start you will see the first
      verse. State the following verse and click Next. The following verse will
      be shown. Now mark if the verse you see matches the verse you remembered.
      <strong>Right (green)</strong> or <strong>Wrong (red)</strong>. If you need to go back, you can undo by clicking the <strong>yellow button</strong> or <strong>swipe left on the screen if you're on a phone</strong>.</p>
      <p>The <strong> REALLY COOL </strong> thing is that once you go through
      memorize once, it knows what you missed. Next time you do either learn or
      memorize, you will see the verses <strong> COLORED </strong>. Red means
      you got the <strong> NEXT verse </strong>wrong so go <strong> slow </strong>. </p>
			<p>After you are done. You can generate a quizlet deck. You don't need a quizlet account, however if you have one, feel free to copy the deck to your own account.</p>

			<p>If you are on a computer - be sure to checkout the keyboard shortcuts. Simply type ? (Shift + /) to see avilable shortcuts.</p>

			<p>May Amma's grace be with you =)</p>
		</div>
	</div>
  <div class="row">
      <div class="col-xs-6">
          <button type="button" class="btn btn-lg btn-success btn-block" ui-sref="learn({itemId: itemId})">Learn</button>
      </div>
      <div class="col-xs-6">
          <button type="button" class="btn btn-lg btn-success btn-block"
              ui-sref="test({itemId: itemId})">Memorize</button>
      </div>
  </div>
</div>
